 body{
    background-color: navajowhite;
 }
 footer{
    position:absolute;
    background-color: gray;
    bottom:0;
    left:0;
    right: 0;
    height: auto;
    width: 100vw;
    font-family: 'Times New Roman', Times, serif;
    padding-top: 10px;
    color: black;
 }